{{extend 'layout.html'}}
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3 col-sm-3">
    <div class="well mi-settings">
      <a href={{=URL('settings/profile')}}>
        <span class="glyphicon glyphicon-user"></span>
        Profile Settings
      </a>
      <a href={{=URL('about')}}>
        <span class="glyphicon glyphicon-headphones"></span>
        About Mixin
      </a>
    </div>
</div>

<!-- Main Music Playlist Widget -->
<div class="col-md-9 col-sm-9">
    <div class="well">
      <h2>Contact Us</h2>
      <div class="container-fluid mi-contact-container">
        <div class="row">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="mi-contact-name">Shanee Dinay</td>
                <td class="mi-contact-email">
                  <a href="mailto:sdinay@ucsc.edu">sdinay@ucsc.edu</a>
                </td>
              </tr>
              <tr>
                <td class="mi-contact-name">Kaitaku Takeda</td>
                <td class="mi-contact-email">
                  <a href="mailto:katakeda@ucsc.edu">katakeda@ucsc.edu</a>
                </td>
              </tr>
              <tr>
                <td class="mi-contact-name">Cameron Wheeler</td>
                <td class="mi-contact-email">
                  <a href="mailto:cdwheele@ucsc.edu">cdwheele@ucsc.edu</a>
                </td>
              </tr>
              <tr>
                <td class="mi-contact-name">Ryan Ho</td>
                <td class="mi-contact-email">
                  <a href="mailto:rdho@ucsc.edu">rdho@ucsc.edu</a>
                </td>
              </tr>
              <tr>
                <td class="mi-contact-name">Maximillian Brain</td>
                <td class="mi-contact-email">
                  <a href="mailto:mbrain@ucsc.edu">mbrain@ucsc.edu</a>
                </td>
              </tr>
              <tr>
                <td class="mi-contact-name">Jinlin lin</td>
                <td class="mi-contact-email">
                  <a href="mailto:jli306@ucsc.edu">jli306@ucsc.edu</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{{=BEAUTIFY(response._vars)}}