{{extend 'layout.html'}}
<h1>Contact Us</h1>
<ul>
<li>
<h3>Shanee Dinay:&nbsp;<a href="mailto:sdinay@ucsc.edu">sdinay@ucsc.edu</a></h3>
</li>
<li>
<h3>Kaitaku Takeda:&nbsp;<a href="mailto:katakeda@ucsc.edu">katakeda@ucsc.edu</a></h3>
</li>
<li>
<h3>Cameron Wheeler:&nbsp;<a href="mailto:cdwheele@ucsc.edu">cdwheele@ucsc.edu</a></h3>
</li>
<li>
<h3>Ryan Ho:&nbsp;<a href="mailto:rdho@ucsc.edu">rdho@ucsc.edu</a></h3>
</li>
<li>
<h3>Maximillian Brain:&nbsp;<a href="mailto:mbrain@ucsc.edu">mbrain@ucsc.edu</a></h3>
</li>
<li>
<h3>Jinlin Li:&nbsp;<a href="mailto:jli306@ucsc.edu">jli306@ucsc.edu</a></h3>
</li>
</ul>
<h3>&nbsp;</h3>
<h3><strong><em>Github</em></strong>:&nbsp;<a href="https://github.com/mixin18/mixin">https://github.com/mixin18/mixin</a></h3>
<h3>&nbsp;</h3>
<h3><strong><em>Trello</em></strong>:&nbsp;<a href="https://trello.com/b/uVJQf8UP/group-18">https://trello.com/b/uVJQf8UP/group-18</a></h3>
<h3>&nbsp;</h3>
<h3><strong><em>Slack</em></strong>:&nbsp;<a href="https://cs183-g18.slack.com/messages/general/">https://cs183-g18.slack.com/messages/general/</a></h3>
{{=BEAUTIFY(response._vars)}}
