{{extend 'layout.html'}}

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3 col-sm-3">

    <!-- Create a Music Room -->
    <div class="well">
        <div class="container-fluid">
            <div class="row">
                <div class="mi-create-music-room col-lg-10 col-md-10 col-sm-10">
                  <h4 class="">Create a Music Room</h4>
                </div>
                <div class="mi-create-music-room col-lg-2 col-md-2 col-sm-2">
                    <button id="mi-create-music-room-button" class="btn btn-default btn-sm" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Friend List -->
    <div class="well">
        <h4 class="mi-h4-sm-adjustment">Following</h4>
        <div id="mi-friends-list">
          {{=followerlist}}
        </div>
        <!-- /.input-group -->
    </div>
</div>

<!-- Main Music Playlist Widget -->
<div class="col-md-6 col-sm-6">
  <div class="well">
    <h3>Music Rooms</h3>
    <!--<div class="mi-mixin-music-room-list">
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Your Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>-->
    <div class="mi-home-chat-room-list">
      <div class="mi-home-chat-room-name">
        {{for chatRoom in chatRooms:}}
          {{=A(chatRoom.name, _class="list-group-item", _href=URL('musicroom', args=chatRoom.id))}}
        {{pass}}
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="col-md-3 col-sm-3">
  <!-- Search for Friends -->
  <div class="well">
    <h4>Search for friends:</h4>
    {{=form}}
  </div>
  {{if people:}}
    <div class="well">
      <h4>Results</h4>
      <table class="mi-follow-result-table">
        {{for user in people:}}
         <tr>
         {{if user.id != auth.user_id:}}
           <td>{{=name_of(user)}}</td>
           <td>
             {{if not db(db.followers.user_id==auth.user_id)(db.followers.following_id==user).count():}}
               <button id="follow" class="btn-sm btn btn-default" onclick="ajax('{{=URL('friendship',args=('request',user.id))}}',[], 'mi-friends-list');$(this).text('Unfollow');">
                 Follow
               </button>
             {{else:}}
               <button id="unfollow" class="btn-sm btn btn-default" onclick="ajax('{{=URL('friendship',args=('delete',user.id))}}',[], 'mi-friends-list');$(this).text('Follow');">
                 Unfollow
               </button>
               <script>
               </script>
             {{pass}}
           </td>
         </tr>
        {{pass}}
        {{pass}}
      </table>
    </div>
  {{pass}}
</div>

<div id="mi-create-music-room-form">
  <h2>Create a New Musicroom</h2>
  {{=chatform}}
  <div id="mi-create-music-room-close">
    <img src="{{=URL('static', '/images/mi_close_image.png')}}">
  </div>
</div>

<div id="mi-add-to-mr-form">
  <h2>Add</h2>
  {{=chatform}}
  <div id="mi-add-to-mr-close">
    <img src="{{=URL('static', '/images/mi_close_image.png')}}">
  </div>
</div>
