{{extend 'layout.html'}}
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3 col-sm-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4 class="mi-h4-sm-adjustment">Search for your Friends</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Music Room Voting Widget Well -->
    <div class="well">
        <h4>Create a Music Room</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <button id="mi-create-music-room-button" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Music Playlist Widget -->
<div class="col-md-6 col-sm-6">
    <div class="well mi-mixin-music-room-list">
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Your Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Your Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Your Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>
    <div class="well mi-mixin-music-room-list">
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Popular Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Popular Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Popular Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>
    <div class="well mi-mixin-music-room-list">
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Suggested Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Suggested Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
      <a href={{=URL('musicroom')}}>
        <div class="mi-music-room-link">
          Suggested Music Room
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>
</div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3 col-sm-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4 class="mi-h4-sm-adjustment">Search for your Music</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
</div>
