{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-social.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/home_style.css')}}">
<style media="screen">
  body{
    background-image: url("{{=URL('static', 'images/background.jpg')}}");
  }
</style>
<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <div class="sidebar-list">
        <div class="list-group">
          {{for group in groups:}}
          {{=A(group.role, _class="list-group-item", _href="#")}}
          {{pass}}
        </div>
      </div>
    </div>
    <div class="col-md-10 carousel slide" id="myCarousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-inner">
            <div class="description">
              <h2>Join</h2>
              <p><h3>Share your music and chat with friends<br>Join a room now!</h3></p>
              {{=A(BUTTON('Go to Music Room'), _href=URL('musicroom'))}}
            </div>
          </div>
        </div>

        <div class="item">
          <div class="carousel-inner">
            <div class="description">
              <h2>Discover</h2>
              <p><h3>Explore new rooms</h3></p>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="carousel-inner">
            <div class="description">
              <h2>Share</h2>
              <p><h3>Share your room on social media</h3></p>
              <a class="btn btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
              </a>
              <a class="btn btn-social-con btn-twitter">
                <span class="fa fa-twitter"></span>
              </a>
              <a class="btn btn-social-icon btn-soundcloud">
                <span class="fa fa-soundcloud"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
