{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/chat.css')}}" rel="stylesheet" type="text/css" />
<style media="screen">
  .message{
    margin: 10px 0;
  }
  .author{
    color: dodgerblue;
  }
</style>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Search for your Friends</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- User List -->
    <form><input name="new-friend" id="new-friend" type="hidden" value="{{=auth.user.first_name}}" /></form>
    <div class="well">
        <h4>Members in this Music Room</h4>
         <div class="row">
             <div id="friendlist" class="col-lg-6">
                <ul class="list-unstyled">
                  {{=friendlist}}
                </ul>
             </div>
         </div>
         <button id="joinButton">Join</button>
    <!-- /.row -->
    </div>

    <!-- Music Room Voting Widget Well -->
    <div class="well">
        <h4>Vote for this Music Room</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button id="mi-music-room-like" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <span id="mi-music-room-like-count">0</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button id="mi-music-room-dislike" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <span id="mi-music-room-dislike-count">0</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Music Playlist Widget -->
<div class="col-md-6">
    <div class="well">
        <h1>{{=db.chatRoom(request.args[0]).name}}</h1>
        <div style="border:1px solid black;margin:20px;padding:10px;height:400px;">
          <div id="chatbox">
            {{for chat in chats:}}
              <div class="message">
                <span class="author">{{=chat.author}}</span>  {{=chat.your_message}}
              </div>
            {{pass}}
          </div>
          <form id="sendMessage">
            <div class="input-group">
              <input name="your_message" id="your_message" class="form-control" placeholder="New message"  />
              <input name="room_id" type="hidden" value="{{=request.args(0)}}" />
              <span class="input-group-btn"><input type="submit" class="form-control" value="Send" /></span>
            </div>
          </form>
        </div>
    </div>
</div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Search for your Music</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
</div>

<script>
  $(document).ready(function(){
    var chatroomId = "chatroom"+{{=request.args[0]}};
    $('#chatbox').scrollTop($('#chatbox').prop("scrollHeight"));
    var callback = function(){
      $("#chatbox").load(location.href+" #chatbox >*","");
    };
    $('#sendMessage').submit(function(){
      if(!$.web2py.web2py_websocket('ws://127.0.0.1:8888/realtime/'+chatroomId, callback)){
        alert("html5 websocket not supported by your browser, try Google Chrome");
      }
      ajax("{{=URL('new_message')}}", ['your_message','room_id'], '');
      $('#your_message').val("");
      return false;
    });
    $('#joinButton').click(function(){
      ajax("{{=URL('default', 'join_room')}}", ['room_id'], '');
    });
  });
</script>
