{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/chat.css')}}" rel="stylesheet" type="text/css" />
<style media="screen">
  .message{
    background-color: dodgerblue;
    border-radius: 30px;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 5px;
  }
</style>
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Search for your Friends</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- User List -->
    <div class="well">
        <h4>Members in this Music Room</h4>
         <div class="row">
             <div class="col-lg-6">
                <ul class="list-unstyled">
                    {{=friendlist}}
                </ul>
             </div>
         </div>
    <!-- /.row -->
    </div>

    <!-- Music Room Voting Widget Well -->
    <div class="well">
        <h4>Vote for this Music Room</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button id="mi-music-room-like" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <span id="mi-music-room-like-count">0</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button id="mi-music-room-dislike" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <span id="mi-music-room-dislike-count">0</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Music Playlist Widget -->
<div class="col-md-6">
    <div class="well">
        <h1> Hi </h1>
        <div style="border:1px solid black;margin:20px;padding:10px;height:400px;">
          <div id="chatbox">
            <p>
            {{for chat in chats:}}
              <div class="message">{{=chat.author}}: {{=chat.your_message}}</div> <br>
            {{pass}}
            </p>
          </div>
            <form id="sendMessage">
              <input name="your_message" id="your_message" size="63" />
              <input name="room_id" id="room_id" type ="hidden" value="{{=request.args(0)}}" />
              <input type="submit" Value="Send" />
            </form>
        </div>
    </div>
</div>

<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Search for your Music</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
</div>

<script>
  $(document).ready(function(){
    // if(!$.web2py.web2py_websocket('ws://127.0.0.1:8888/realtime/' + chatroomId)){
    //   alert("html5 websocket not supported by your browser, try Google Chrome");
    // }
    // var callback = function(){
    //   $('#chatbox').load('musicroom #chatbox', function() {
    //     $('#chatbox').children('#chatbox').unwrap();
    //     $('#chatbox').animate({ scrollTop: log.prop('scrollHeight')}, 0);
    //   });
    // };
    setInterval(function(){
      // $('#chatbox').load("{{=URL('default', 'musicroom')}} #chatbox");
    }, 3000);
    $('#sendMessage').submit(function(){
      ajax("{{=URL('new_message')}}", ['your_message','room_id'], ':eval');
      return false;
    });
  });
</script>
