{{extend 'layout.html'}}

<div class="col-md-3 col-sm-3">
    <div class="well mi-settings">
      <a href={{=URL('contact')}}>
        <span class="glyphicon glyphicon-envelope"></span>
        Contact Us
      </a>
      <a href={{=URL('about')}}>
        <span class="glyphicon glyphicon-headphones"></span>
        About Us
      </a>
    </div>
</div>

<div class="col-md-6 col-sm-6">
  {{=form}}
</div>

<div class="col-md-3 col-sm-3">
  <div class="list-group">
    <a href="profile" class="list-group-item">General Settings</a>
    <a href="change_password" class="list-group-item">Security Settings</a>
  </div>
</div>