#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }

#center{
    text-align: center;
}
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:5px;
    background:#fff;
    height:300px;
    width:95%;
    border:1px solid #ACD8F0;
    overflow-y: scroll; 
    overflow-x:hidden; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#Submit { 
        height:45px;
        float: right;
        position:relative;
 }
 #messageBox{
  margin: 0px;
  padding: 10px;
  background:#white;
  border-style: solid;
  border-width: 1px;
  display:block;
  overflow-x:scroll;
 }

#outerBox{
    border:1px solid black;
    margin:20px 0 20px 0;
    padding:10px;
    height:400px;
    background-color: rgb(180, 180, 180);
}
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }