/* mixin.css v3.3.5
 * Copyright 2017 Group Eighteen
 * Established for CMPS 183
 */

 /* boostrap.min.css overrides */
 .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group,
 .input-group-btn>.btn {
   margin-left: 5px;
 }
 .panel {
   -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,0.05);
   box-shadow: 2px 3px 5px rgba(0,0,0,0.05);
   border: 1px solid #f1f1f1;
 }
 .well {
   background-color: #ffffff;
   -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,0.05);
   box-shadow: 2px 3px 5px rgba(0,0,0,0.05);
   padding: 15px;
 }
 .navbar-default {
     background-color: #909090;
     border-color: #909090;
 }
 .navbar-default .navbar-nav>li>a {
     color: #000000;
 }
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: #909090;
 }
 .navbar-default .navbar-toggle .icon-bar {
     background-color: #000000;
 }
 .main-container {
     margin-top: 40px;
 }
 .btn-youtube {
   background-color: #cc181e;
 }
 .btn-soundcloud {
   background-color: #ff5500;
 }

 /* custom navbar styling */
 #mi-navbar-logo:hover {
     opacity: 0.5;
     filter: alpha(opacity=50); /* For IE8 and earlier */
 }

 /* HTML overrides */
 body {
   background-color: #f1f1f1;
 }

/* index.html */
 .mi-small-auth-form .form-group .col-sm-3 {
     padding-left: 5px;
     padding-right: 5px;
 }
 .mi-small-auth-form input[value="Log In"] {
     padding: 1px 5px;
     border-radius: 3px;
 }
 @media (min-width: 768px) {
     .mi-small-auth-form #submit_record__row .col-sm-offset-3 {
         margin-left: 15%;
         line-height: 2.0;
     }
 }
 @media (min-width: 768px) {
     .mi-small-auth-form #submit_record__row .col-sm-9 {
         width: 90%;
     }
 }
 @media (min-width: 992px) {
   .mi-index-row .mi-index-description {
     margin-top: 60px;
   }
 }

 /* home.html */
.mi-add-to-mr {
  margin-bottom: 5px;
  margin-left: 5px;
}
.mi-home-chat-room-list {
  background-color: rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  width: 100%;
  padding: 0;
  margin: 10px 0;
}
.mi-home-chat-room-name {
  height: 100%;
}
.mi-home-chat-room-name a {
  height: 40px;
}
#mi-create-music-room-form,
#mi-add-to-mr-form {
  height: 182px;
  width: 400px;
  display: none;
  background-color: white;
  border: solid 2px #909090;
  position: relative;;
  /*top: 0; right: 0; bottom: 0; left: 0;*/
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  z-index: 999;
}
#mi-create-music-room-form h2,
#mi-add-to-mr-form h2 {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
#mi-create-music-room-form form,
#mi-add-to-mr-form form {
  margin: 0 10px 0 10px;
  position: absolute;
  bottom: 0;
}
#mi-create-music-room-close,
#mi-add-to-mr-close {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
@media(max-width: 767px) {
  #mi-create-music-room-form form label {
    width: 25%;
    float: left;
  }
  #mi-create-music-room-form form div div {
    width: 75%;
    float: left;
  }
}

@media (min-width: 921px) {
 .mi-create-music-room {
   padding-left: 5px;
   padding-right: 5px;
 }
 .mi-create-music-room button {
   margin-top: 10px;
   margin-left: -5px;
 }
}
@media (min-width: 800px) {
 .mi-create-music-room {
   padding-left: 2px;
   padding-right: 2px;
 }
 .mi-create-music-room button {
   margin-top: 10px;
   margin-left: -5px;
 }
}
.mi-create-music-room h4 {
 font-size: 18px
}
@media (min-width: 921px) {
 .mi-create-music-room {
   font-size: 13px
 }
}
.mi-search-friends-tr button {
 margin-bottom: 5px;
 margin-left: 5px;
}

.mi-follow-result-table button {
  margin: 2px 2px 5px 5px;
}

 /* musicroom.html */
#mi-music-room-info {
  height: 100px;
  margin-bottom: 10px;
}
#mi-music-room-info img {
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  float: left;
  display: block;
}
#mi-music-room-info h1 {
  overflow: hidden;
  display: block;
  font-size: 30px;
  padding-top: 67px;
  padding-left: 10px;
}
.mi-mixin-music-room-list a {
  text-decoration: none;
}
.mi-mixin-music-room-list a div {
  color: #ffffff;
  background-color: #393a35;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  max-width: 100px;
  height: 80px;
}
.mi-mixin-music-room-list a div:hover {
  background-color: #353630;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,0.35);
  box-shadow: 2px 3px 5px rgba(0,0,0,0.35);
}

#mi-search-results {
  display: none;
}
.mi-search-results-song {
 background-color: #b5b6b4;
 width: 100%;
 height: 60px;
 margin: 0 0 5px 0;
 border-radius: 5px;
}
.mi-search-results-left {
  width: 20%;
  float: left
}
.mi-serach-results-add {
  background-color: #ffffff;
  color: #b5b6b4;
  margin: 16px 4px 16px 4px;  /* 60 - 28 = 32 / 2 - 16*/
  padding: 2px 7px;
  display: inline;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,0.05);
  box-shadow: 2px 3px 5px rgba(0,0,0,0.05);
}
.mi-search-results-info {
  width: 80%;
  overflow: auto;
  font-size: 12px;
  margin-top: 3px;
  height: 57px;
}
.mi-search-results-author {
  display: block;
  font-weight: bold;
  margin: 0 0 2px 0;
}
.mi-search-results-title {
  display: block;
  margin: 0 0 2px 0;
}
/*#mi-music-room-chat-room-box {
  border: 1px solid black;
  padding: 10px;
  height: 400px;
}
*/

/* about.html, contact.html, settings.html */
.mi-settings a {
 display: block;
 text-decoration: none;
 color: #3e3f3a;
}
.mi-settings a:hover {
 color: #000000;
 background-color: #f5f5f5; /*#f6f7f9; */
}
.mi-contact-container h4 {
 display: inline;
}
.mi-contact-container .mi-contact-user {
 margin-bottom: 15px;
}
@media (max-width: 1170px) {
 .mi-h4-sm-adjustment {
   font-size: 23px;
 }
}
@media (max-width: 900px) {
 .mi-h4-sm-adjustment {
   font-size: 19px;
 }
}
@media (max-width: 767px) {
 .mi-h4-sm-adjustment {
   font-size: 22px;
 }
}
.mi-settings-main-container {
 margin-top: 10px;
}



#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

    #loginform p { margin: 5px; }

#center{
    text-align: center;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:5px;
    background:#fff;
    height:300px;
    width:95%;
    border:1px solid #ACD8F0;
    overflow-y: scroll;
    overflow-x:hidden; }

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }

#Submit {
        height:45px;
        float: right;
        position:relative;
 }
 #messageBox{
  margin: 0px;
  padding: 10px;
  background:#white;
  border-style: solid;
  border-width: 1px;
  display:block;
  overflow-x:scroll;
 }

#outerBox{
    border:1px solid black;
    margin:20px;
    padding:10px;
    height:400px;
    background-color: rgb(180, 180, 180);
}
.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }
